server/__pycache__/test.cpython-35.pyc
server/phone.py
server/__pycache__/person.cpython-35.pyc
server/private_data.txt
server/.idea/workspace.xml
server/.idea/vcs.xml
server/.idea/server.iml
server/.idea/modules.xml
server/.idea/misc.xml